.logo {
    height: 100%;
    width: min-content;
}

.logo__image {
    display: block;
    height: 100%;
    width: min-content;
}

@media only screen and (min-width: 1024px) {
    .logo {
        
    }

    .logo__image {
        
    }
}