.main-header-icon {
    display: inline-block;
    font-size: var(--big-font-size);
    padding: .5rem 0 .5rem 1rem;
    color: var(--white-color);
    margin-left: .5rem;
}

.main-header-icon:first-child {
    margin-left: 0;
}