.player {
    width: 100%;
    height: var(--player-height);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--player-bg-color);
}

.player__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.player__welcome {
    color: var(--white-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}